# =========================
# Python / FastAPI
# =========================
.venv/
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/

# =========================
# .NET / ASP.NET
# =========================
bin/
obj/

# =========================
# IDE / Editor
# =========================
.vs/
.vscode/

# =========================
# Logs / env / database
# =========================
*.log
.env
*.db
*.sqlite
*.sqlite3

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db